{% extends "layout.html" %}
{% block body %}
<div class="p-1"></div>
<form method="POST" action="/likes">
    <div class="card card-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img class="d-block mx-auto" src="/predeterminada/images.png" width="500" class="rounded">
                </div>
                {% for l in listfoto %}
                <div class="carousel-item" data-bs-interval="10000">
                    <img class="d-block mx-auto" data-bs-interval="10000" width="500" src="/uploads/{{l[0]}}/{{l[1]}}">
                    <div class="col-md-5 offset-md-auto mx-auto" style="text-align: center;">
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="checkbox" class="btn-check" id="btncheck1{{l[1]}}" value="1" name="mycheckbox"
                                autocomplete="off">
                            <label class="btn btn-success" for="btncheck1{{l[1]}}">LIKE</label>
                            <input type="checkbox" class="btn-check" id="btncheck2{{l[1]}}" value="-1" name="mycheckbox"
                                autocomplete="off">
                            <label class="btn btn-primary" for="btncheck2{{l[1]}}">DISLIKE</label>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-md-5 offset-md-auto mx-auto" style="text-align: center;">
        <input style="text-align: center;" class="col-md-5 offset-md-auto mx-auto btn btn-light" type="submit">
    </div>
</form>


{% endblock %}