{% extends "layout.html" %}
{% block body %}
<div class="p-1"></div>
<form method="POST" action="/likes">
    <div class="card card-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img class="d-block mx-auto" src="/uploads/futboltvmemes/carnet.jpg" width="500" class="rounded">
                </div>
                {% for l in listfoto %}
                <div class="carousel-item" data-bs-interval="10000">
                    <img class="d-block mx-auto" data-bs-interval="10000" width="500" src="/uploads/{{l[0]}}/{{l[1]}}">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="1" autocomplete="off" checked="">
            <label class="btn btn-outline-success" for="btnradio1">Like</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="-1" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio2">Dislikee</label>
          </div>
    </div>
    <input style="text-align: center;" class="col-md-5 offset-md-auto mx-auto btn btn-light" type="submit">
</form>


{% endblock %}