{% extends "layout.html" %}
{% block body %}
<div class="row">
    <form action="/foto" method="POST">
        <div class="col-md-5 offset-md-auto mx-auto" style="text-align: center;">
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <button class="col-md-5 offset-md-auto mx-auto btn btn-primary" type="submit" >
                <h1>Start</h1>
            </button>
        </div>
    </form>
    <a href="/foto">ver fotos</a>
</div>




{% endblock %}
