{% extends "layout.html" %}
{% block body %}
<div class="p-4"></div>
<h1>¿Quienes somos?</h1>
<p class="lead">Bienvenido a team Super8cho!!! somos un grupo de estudiantes de primer año de la unviersidad Federico Santa Maria, iniciando en el tema de Desarrollo Web.
    Sabemos que hoy en día es muy importante el cuidado de la salud mental, por eso hemos decidido crear esta aplicacion para brindarle al usuario un ambiente de alegría, y comodidad.</p> 
<a class="nav-link " aria-current="page" href="/scrapper">scrapper</a>
<form action="">

</form>
<image src = "{{url_for('static', filename='images/a.png')}}">
{% endblock %}