{% extends "layout.html" %}
{% block body %}


<div class="row">
  <div class="col-md-5 offset-md-auto mx-auto" style="text-align: center;">
    <div class="p-4"></div>
       <h1> Super8cho</h1>
      <p class="lead">Inicie sesión para pasar un momento grato y divertido con TeamSuper8cho</p> 
      <div class="p-1"></div>
      
        <div class="card card-body">
            <div class="form-group">
                <input type="text" class="form-control" name="usuario" placeholder="Usuario"> <br>
              </div>
              <div class="form-group">
                <input  class="form-control" type="password" name="contraseña" placeholder="Contraseña"><br>
              </div>
                <a href="/inicio" class="btn btn-primary btn-block" >Iniciar Sesión</a>
              <div class="form-group"></div>
                <div class="mx-auto" style="text-align: center;">
                    ¿No tienes una cuenta? <a href="/register" >Regristrarse</a>
                    <div class="mx-auto" style="text-align: center;">
                       <a href="/edit" >¿Olvidaste tu contraseña? </a>
                </div>
        </div>
    </div>
  </div>
</div>
<form action="">
    



</form>
{% endblock %}