{% extends "layout.html" %}
{% block body %}


<div class="row">
  <div class="col-md-5 offset-md-auto mx-auto" style="text-align: center;">
    
    <h1> Super8cho</h1>
    <p class="lead">Inicie sesión para pasar un momento grato y divertido con TeamSuper8cho</p>
    <div class="p-1"></div>
    <form action="/login" method="POST">
      <div class="card card-body">
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email" required> <br>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="Contraseña" required><br>
        </div>
        <button class="btn btn-primary">Iniciar Sesión</button>
        <div class="form-group">
          <div class="mx-auto" style="text-align: center;">
            ¿No tienes una cuenta? <a href="/register">Registrarse</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>





</form>
{% endblock %}