<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h2>Super8cho</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/perfil">Editar Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-1"></div>
    <div class="col-md-5 offset-md-auto mx-auto" style="text-align: center;">
      <h1>Seleccione categorias de su gusto.</h1>
    </div>
    <div class="card card-body">
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="btn btn-primary" for="btncheck6">Basquetball</label>
        <div class="p-1"></div>
        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-primary" for="btncheck2">Basquetball</label>
        <div class="p-1"></div>
        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
        <label class="btn btn-primary" for="btncheck3">Voletball</label>
        <div class="p-1"></div> 
        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
        <label class="btn btn-primary" for="btncheck4">Voletball</label>
      </div>
      <div class="p-1"></div>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="btn btn-primary" for="btncheck6">Basquetball</label>
        <div class="p-1"></div>
        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="btn btn-primary" for="btncheck6">Basquetball</label>
        <div class="p-1"></div>
        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
        <label class="btn btn-primary" for="btncheck7">Voletball</label>
        <div class="p-1"></div> 
        <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
        <label class="btn btn-primary" for="btncheck8">Voletball</label>
      </div>
      <div class="p-1"></div>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="btn btn-primary" for="btncheck6">Basquetball</label>
        <div class="p-1"></div>
        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="btn btn-primary" for="btncheck6">Basquetball</label>
        <div class="p-1"></div>
        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
        <label class="btn btn-primary" for="btncheck7">Voletball</label>
        <div class="p-1"></div> 
        <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
        <label class="btn btn-primary" for="btncheck8">Voletball</label>
      </div>
      <div class="p-1"></div>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="btn btn-primary" for="btncheck6">Basquetball</label>
        <div class="p-1"></div>
        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="btn btn-primary" for="btncheck6">Basquetball</label>
        <div class="p-1"></div>
        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
        <label class="btn btn-primary" for="btncheck7">Voletball</label>
        <div class="p-1"></div> 
        <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
        <label class="btn btn-primary" for="btncheck8">Voletball</label>
      </div>
  


</body>

</html>